@use './variables';

// Base Styles for all pages

// wrapper (same as in the notes, but i did re-type it out manually!)
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: variables.$silver;
}

// navbar to appear on all pages
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;

    .logo {
        padding-left: 10px;
    }

    .navBarItems {
            // padding-left: 50%;
            display: flex;
            width: 100%;
            justify-content: right;          

            li {
                padding: 10px 50px 10px 10px;
                a {

                    &:hover {
                        border-bottom: 2px solid variables.$turqoiseBlue;
                    }
                }
            }
        }
}

ul {
    list-style: none;
}


ul, li, a, input {
    padding: 0;
    margin: 0;
}


// ~~~~~~~~~~ Homepage ~~~~~~~~~~

.index {

    header {
        background-image: url("../assets/images/header-home.jpg");
        background-position: right;
        background-repeat: no-repeat;
        padding-bottom: 22%;
        h2 {
            margin: 0;
            padding-left: calc(7.5% + 20px);
            padding-top: 5%;
            padding-bottom: 5%;
        }
        img {
            position: absolute;
        }
    }

    .learnBG {
        background-color: variables.$lightSkyBlue;
        padding-top: 12%;
        padding-bottom: 6%;

        .learnContainer {
            display: flex;

            .learnColumnContainer {
                padding-right: 15%;
                width: 70%;

                p {
                    padding-bottom: 30px;
                }
            }

            img {
                box-shadow: -20px 20px 0px 0px variables.$turqoiseBlue;
            }
        }
    }

    .galleryBG {
        background-color: variables.$teal;
        padding-top: 6%;
        padding-bottom: 6%;

        .galleryContainer {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 31%;
        }
    }

    .otherBG {
        background-color: variables.$lightSkyBlue;
        padding-top: 5%;
        padding-bottom: 5%;

        .otherPagesContainer{
            display: flex;
            flex-wrap: wrap;

            .otherPages {
                width: 50%;
                padding-left: 5%;

                span {
                    margin-left: -100px;
                    margin-right: -15px;
                    padding-right: 10px;
                    padding-left: 100px;
                    padding-top: 7px;
                    display: flex;
                    font-size: 1em;
                    color: variables.$turqoiseBlue;
                }

                .otherTitle {
                    display: flex;
                }
                

            }
        }
    }






}



// ~~~~~~~~~~ Blog ~~~~~~~~~~

.blog {







}



// ~~~~~~~~~~ Contact ~~~~~~~~~~

.contact {








}