@use './variables';

// Base Styles for all pages

// wrapper (same as in the notes, but i did re-type it out manually!)
.wrapper {
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
}

body {
    background: black;
}

// navbar to appear on all pages
.navBar {
    display: flex;
    position: fixed;
    background-color: variables.$white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    //not sure I totally understand it, but I found this info here: https: //css-tricks.com/forums/topic/nav-bar-wont-center-properly/
    left: 0;
    right: 0;

    .logo {
        padding-left: 10px;
    }

    .navBarItems {
            // padding-left: 50%;
            display: flex;
            width: 100%;
            justify-content: right;          

            li {
                padding: 10px 50px 10px 10px;
                a {

                    &:hover {
                        border-bottom: 2px solid variables.$turqoiseBlue;
                    }
                }
            }
        }
}

ul {
    list-style: none;
}


ul, li, a, input {
    padding: 0;
    margin: 0;
}


// ~~~~~~~~~~ Homepage ~~~~~~~~~~

.index {









}



// ~~~~~~~~~~ Blog ~~~~~~~~~~

.blog {







}



// ~~~~~~~~~~ Contact ~~~~~~~~~~

.contact {








}