@use './variables';

// Base Styles for all pages

// wrapper (same as in the notes, but i did re-type it out manually!)
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: variables.$silver;
}

footer {
    background-color: variables.$blackTwo;
    color: variables.$white;
    text-align: center;
    padding: .5%;
    
    p {
        margin: 0;
    }
}


// navbar to appear on all pages
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;

    .logo {
        padding-left: 10px;
    }

    .navBarItems {
            // padding-left: 50%;
            display: flex;
            width: 100%;
            justify-content: right;          

            li {
                padding: 10px 50px 10px 10px;
                a {

                    &:hover {
                        border-bottom: 2px solid variables.$turqoiseBlue;
                    }
                }
            }
        }
}

ul {
    list-style: none;
}


ul, li, a, input {
    padding: 0;
    margin: 0;
}


// ~~~~~~~~~~ Homepage ~~~~~~~~~~

.index {

    header {
        background-image: url("../assets/images/header-home.jpg");
        background-position: right;
        background-repeat: no-repeat;
        padding-bottom: 22%;
        h2 {
            margin: 0;
            padding-left: calc(7.5% + 20px);
            padding-top: 5%;
            padding-bottom: 5%;
        }
        img {
            position: absolute;
        }
    }

    // Learn New Techniques Section

    .learnBG {
        background-color: variables.$lightSkyBlue;
        padding-top: 12%;
        padding-bottom: 6%;

        .learnContainer {
            display: flex;

            .learnColumnContainer {
                padding-right: 15%;
                width: 70%;

                p {
                    padding-bottom: 30px;
                }
            }

            img {
                box-shadow: -20px 20px 0px 0px variables.$turqoiseBlue;
            }
        }
    }

    // Gallery Section 
    .galleryBG {
        background-color: variables.$teal;
        padding-top: 6%;
        padding-bottom: 6%;

        .galleryContainer {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 31%;
        }
    }

    // Other Pages Section
    .otherBG {
        background-color: variables.$lightSkyBlue;
        padding-top: 5%;
        padding-bottom: 5%;

        .otherPagesContainer{
            display: flex;
            flex-wrap: wrap;

            .otherPages {
                width: 50%;
                padding-left: 5%;

                span {
                    margin-left: -100px;
                    margin-right: -15px;
                    padding-right: 10px;
                    padding-left: 100px;
                    padding-top: 7px;
                    display: flex;
                    font-size: 1em;
                    color: variables.$turqoiseBlue;
                }

                .otherTitle {
                    display: flex;
                }
            }
        }
    }


    // Quadrant Image & Text Section

    .quadrantContainer {
        display: flex;
        flex-wrap: wrap;
        background-color: variables.$teal;
        color: variables.$white;
        gap: 10%;

        div {
            display: flex;
            width: 40%;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;

            .buttonStyle {
                color: variables.$blackTwo;
                background-color: variables.$lighterBlue;
            }
        }

        img {
            display: flex;
            width: 40%;
        }

        .imgBorderR {
            transform: translate(0px, -10%);
        }

        .imgBorderL {
            transform: translate(0px, 10%);
        }
    }

    //Banner Background
    .bannerBG   {
        display: block;
        padding-bottom: 20%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../assets/images/banner.jpg");
    }


    //Search Section
    .searchMainContainer {
        background-color: variables.$lightSkyBlue;
        padding-top: 8%;
        padding-bottom: 8%;
        text-align: center;
    
        p {
            padding-bottom: 3%;
        }
    }
} 


// ~~~~~~~~~~ Blog ~~~~~~~~~~

.blog {







}



// ~~~~~~~~~~ Contact ~~~~~~~~~~

.contact {








}