@use './variables';

.contactForm {
    display:flex;
    flex-direction: column;

    .formWrap {
        display: flex;
        // width: 50%;
        justify-content: space-between;
    
        input[type="text"], input[type="email"] {
            width: 48%;

        }
    
    }

    input, textarea {
        padding: 50px 15px 30px 30px;
        border: none;
        margin-bottom: 40px;
        color: variables.$black;
        background-color: inherit;
        letter-spacing: inherit;

        &:focus {
            border-bottom: 3px solid variables.$white;
        }
        
        &::placeholder {
            opacity: 1;
        }
    }

    input {
        border-bottom: 2px solid variables.$turqoiseBlue;
    }

    textarea {
        border: 2px solid variables.$turqoiseBlue;
    }

    button {
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
    }
}
