@use "./variables";

// import fonts
@font-face {
    font-family: 'Pacifico';
    src: url("../assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
    font-family: 'Lato';
    src: url("../assets/fonts/Lato-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url("../assets/fonts/Lato-Bold.ttf");
    font-weight: bold;
}

// global font styles
html {
    font-size: 125%;
}

body {
    font-family: variables.$bodyFont;
    font-size: 1rem;
    color: variables.$blackTwo;
    font-weight: normal;
    margin: 0;
}

.navBarItems {
    font-family: variables.$bodyFont;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    line-height: 1.45rem;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

//borrowed a part of the reset from https: //meyerweb.com/eric/tools/css/reset/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.designH1, .designH2, .designH3, .designH4, .designH5, .designH6 {
    font-family: variables.$headingFont;
    margin: 0;
}

.designH1, .designH2, .designH3, .designH5, .navBarItems, a {
    color: variables.$darkSlateBlue;
}

.designH4, .designH6 {
    color: variables.$white;
}

.designH1 {
    font-size: 3.4rem;
    line-height: 3.2rem;
}

.designH2 {
    font-size: 2.9rem;
    line-height: 3.4rem;
}

.designH3 {
    font-size: 2.15rem;
    line-height: 2.9rem;
    letter-spacing: 2.7px;
}

.designH4 {
    font-size: 2rem;
    letter-spacing: 4.3px;
}

.designH5 {
    font-size: 2rem;
    text-align: right;
    line-height: 2.9rem;
    letter-spacing: 2.5px;
}

.designH6 {
    font-size: 1.75rem;
    letter-spacing: 2.9px;
}

.designP {
    line-height: 1.4rem;
    letter-spacing: 2px;
    margin: 0;
}

.logo {
    font-family: variables.$headingFont;
    line-height: 1.2rem;
    letter-spacing: 1.7px;
    color: variables.$black; 
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.buttonStyle {
    font-family: variables.$headingFont;
    text-align: center;
    line-height: 1.6rem;
    letter-spacing: 1.4px;
}


