// global variables

// fonts
$headingFont: "Pacifico";
$bodyFont: "Lato";

// colour theme
$darkSlateBlue: #1A315C;
$black: #1E1713;
$turqoiseBlue: #0CADC0; 
$lightSkyBlue: #CCEDFB;
$blackTwo: #161515;
$white: #FFFFFF;

// header styles as they appear in the design doc
