// global variables

// fonts
$headingFont: "Pacifico";
$bodyFont: "Lato";

// colour theme
$darkSlateBlue: #1A315C;
$black: #1E1713;
$turqoiseBlue: #0CADC0; 
$lightSkyBlue: #CCEDFB;
$blackTwo: #161515;
$white: #FFFFFF;


$silver: #f5f5f5;

// these two were found thanks to Mandeep !
$teal: #21404F;
$lighterBlue: #C6D9FB;
