html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Pacifico";
  src: url("../assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  color: #161515;
  font-weight: normal;
  margin: 0;
  letter-spacing: 2px;
  line-height: 28px;
}

.navBarItems {
  font-family: "Lato";
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.designH1, .designH2, .designH3, .designH4, .designH5, .designH6 {
  font-family: "Pacifico";
  margin: 0;
}

.designH1, .designH2, .designH3, .designH5, .navBarItems, a {
  color: #1A315C;
}

.designH4 {
  color: #161515;
}

.designH1 {
  font-size: 3.4rem;
  line-height: 3.2rem;
}

.designH2 {
  font-size: 2.9rem;
  line-height: 3.4rem;
}

.designH3 {
  font-size: 2.15rem;
  line-height: 2.9rem;
  letter-spacing: 2.7px;
}

.designH4 {
  font-size: 2rem;
  letter-spacing: 4.3px;
}

.designH5 {
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2.5px;
}

.designH6 {
  font-size: 1.75rem;
  letter-spacing: 2.9px;
}

.designP {
  line-height: 1.4rem;
  letter-spacing: 2px;
  margin: 0;
}

.logo {
  font-family: "Pacifico";
  line-height: 1.2rem;
  letter-spacing: 1.7px;
  color: #1E1713;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.buttonStyle {
  font-family: "Pacifico";
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 1.4px;
  padding: 0px 27px 4px 27px;
  color: #FFFFFF;
  background-color: #1A315C;
}

.timestamp {
  font-weight: bold;
  color: #1A315C;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #f5f5f5;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 2%;
}
.navBar .navBarItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.navBar .navBarItems li {
  padding: 10px 0px 10px 50px;
}
.navBar .navBarItems li a:hover, .navBar .navBarItems li a:focus {
  border-bottom: 2px solid #0CADC0;
}

.buttonStyle {
  cursor: pointer;
}

footer {
  background-color: #161515;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5%;
}
footer p {
  margin: 0;
}

.imgBorderL {
  -webkit-box-shadow: -20px 20px 0px 0px #0CADC0;
          box-shadow: -20px 20px 0px 0px #0CADC0;
}

.imgBorderR {
  -webkit-box-shadow: 20px 20px 0px 0px #0CADC0;
          box-shadow: 20px 20px 0px 0px #0CADC0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h2 {
  margin: 0;
  padding-left: calc(7.5% + 20px);
  padding-left: 0;
  padding-right: 0;
}

.designH1 {
  padding-bottom: 0%;
  padding-top: 10%;
}

.index header {
  background-image: url("../assets/images/header-home.jpg");
  background-position: right;
  background-repeat: no-repeat;
  padding-bottom: 22%;
}
.index header .designH2 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.index header img {
  position: absolute;
}
.index .learnBG {
  background-color: #CCEDFB;
  padding-top: 12%;
  padding-bottom: 6%;
}
.index .learnBG .learnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.index .learnBG .learnContainer .learnColumnContainer {
  padding-right: 15%;
  width: 70%;
}
.index .learnBG .learnContainer .learnColumnContainer p {
  padding-bottom: 30px;
}
.index .learnBG .learnContainer img {
  -webkit-transform: translate(73px, 0);
          transform: translate(73px, 0);
}
.index .galleryBG {
  background-color: #21404F;
  padding-top: 6%;
  padding-bottom: 6%;
}
.index .galleryBG .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index .galleryBG img {
  width: 31%;
}
.index .otherBG {
  background-color: #CCEDFB;
  padding-top: 5%;
  padding-bottom: 5%;
}
.index .otherBG .otherPagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.index .otherBG .otherPagesContainer .otherPages {
  width: 50%;
  padding-left: 5%;
}
.index .otherBG .otherPagesContainer .otherPages span {
  margin-left: -100px;
  margin-right: -15px;
  padding-right: 10px;
  padding-left: 100px;
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  color: #0CADC0;
}
.index .otherBG .otherPagesContainer .otherPages .otherTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.index .quadrantContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #21404F;
  color: #FFFFFF;
  gap: 10%;
}
.index .quadrantContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.index .quadrantContainer div .buttonStyle {
  color: #161515;
  background-color: #C6D9FB;
}
.index .quadrantContainer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}
.index .quadrantContainer .quadImg1 {
  -webkit-transform: translate(0px, -10%);
          transform: translate(0px, -10%);
}
.index .quadrantContainer .quadImg2 {
  -webkit-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
}
.index .bannerBG {
  display: block;
  padding-bottom: 20%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/images/banner.jpg");
}
.index .searchMainContainer {
  background-color: #CCEDFB;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}
.index .searchMainContainer p {
  padding-bottom: 3%;
}

.blog header {
  background-image: url("../assets/images/blog-header.jpg");
  background-repeat: no-repeat;
  padding-bottom: 20%;
  background-size: cover;
}
.blog main {
  background-color: #CCEDFB;
}
.blog .blogStyles {
  color: #FFFFFF;
  background-color: #21404F;
}
.blog .blogStyles, .blog .blogFormat {
  width: 60%;
}
.blog .blogFormat {
  width: 140%;
  padding-left: 25%;
  padding-right: 50%;
}
.blog .commentFormat {
  padding-left: 15%;
  padding-right: 45%;
}
.blog .blogContainer {
  border-right: 20px solid #0CADC0;
  border-bottom: 20px solid #0CADC0;
}
.blog .blogContainer .blogTextContainer {
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
}
.blog .blogContainer .timestamp {
  color: #CCEDFB;
}
.blog .blogContainer .blogImg {
  width: 100%;
  -webkit-transform: translate(0px, -25%);
          transform: translate(0px, -25%);
}
.blog h4 {
  padding: 60px 0 60px 0;
}
.blog .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}
.blog .commentContainer img {
  -webkit-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
  width: 90px;
  height: 90px;
}
.blog .commentContainer .commentTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
}
.blog .sidebar {
  width: 20%;
  -webkit-transform: translate(400%, -285%);
          transform: translate(400%, -285%);
}
.blog .sidebar img {
  width: 95%;
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
}
.blog .sidebar a {
  color: inherit;
}
.blog .sidebar p, .blog .sidebar ul {
  margin-top: 0;
}
.blog .sidebar .sideContainer {
  padding-left: 5%;
  padding-bottom: 20px;
}
.blog .sidebar .sideList {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 20px;
}

.contact header {
  background-image: url("../assets/images/contact-header.jpg");
  background-repeat: no-repeat;
  padding-bottom: 20%;
  background-size: cover;
  margin-bottom: -50px;
}
.contact main {
  background-color: #CCEDFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact main .formBG {
  background-color: #21404F;
  width: 51%;
  -webkit-transform: translate(240px, -180px);
          transform: translate(240px, -180px);
  padding: 50px 20px 55px 20px;
}
.contact main .formBG .contactForm input, .contact main .formBG .contactForm textarea {
  color: #FFFFFF;
}
.contact main .formBG .contactForm button {
  background-color: #C6D9FB;
  color: #161515;
}
.contact main .contactInfoContainer {
  padding: 5% 10% 0 0;
  width: 30%;
  margin: 0;
}
.contact main .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact main .socials i {
  padding: 0 25px 10px 0;
}
.contact address {
  font-style: normal;
  line-height: normal;
}
.contact address .infoEmail {
  padding: 15px 0px 20px 0px;
}
.contact address p {
  margin: 0;
  line-height: 28px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactForm .formWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactForm .formWrap input[type=text], .contactForm .formWrap input[type=email] {
  width: 48%;
}
.contactForm input, .contactForm textarea {
  padding: 50px 15px 30px 30px;
  border: none;
  margin-bottom: 40px;
  color: #1E1713;
  background-color: inherit;
  letter-spacing: inherit;
}
.contactForm input:focus, .contactForm textarea:focus {
  border-bottom: 3px solid #FFFFFF;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  opacity: 1;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  opacity: 1;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  opacity: 1;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  opacity: 1;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
  opacity: 1;
}
.contactForm input {
  border-bottom: 2px solid #0CADC0;
}
.contactForm textarea {
  border: 2px solid #0CADC0;
}
.contactForm button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.buttonStyle:hover, .buttonStyle:focus {
  -webkit-animation: animation1 2s ease-in-out 0s infinite normal none;
          animation: animation1 2s ease-in-out 0s infinite normal none;
}

.galleryContainer img:hover {
  -webkit-animation: animation2 20ms ease-in-out 0s infinite alternate none, animation3 4s ease-in-out 500ms infinite alternate none;
          animation: animation2 20ms ease-in-out 0s infinite alternate none, animation3 4s ease-in-out 500ms infinite alternate none;
  cursor: cell;
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes animation2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: saturate(300%);
            filter: saturate(300%);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes animation2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: saturate(300%);
            filter: saturate(300%);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes animation3 {
  0% {
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: saturate(300%);
            filter: saturate(300%);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes animation3 {
  0% {
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: saturate(300%);
            filter: saturate(300%);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}